* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Momo Trust Display", sans-serif;
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header, footer {
  border-top: 1px solid rgba(255,255,255,0.07);
  border-bottom: 1px solid rgba(0,0,0,0.09);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: var(--color-1);
    border-bottom: 2px solid rgba(0, 0, 0, 0.342);;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 60px;
    background-color: var(--color-1);
    border-top: 2px solid rgba(0, 0, 0, 0.342);;

    img {
        width: 40px;
        height: 40px;
    }
}

.principal {
    display: flex;
    height: 100%;
}

.aba_lateral {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 15%;
    background-color: var(--color-2);
}

.aba_lateral a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 50px;
    margin: 10px 20px 0px 20px;
    border-radius: 8px;
    background-color: var(--color-4);
    color: var(--color-text);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.20);
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border: 2px solid rgba(0, 0, 0, 0.562);
}

.logo {
    margin: 15px;
    display: flex;
    gap: 10px;

    img {
        width: 60px;
        height: auto;
    }
}

.conteudo_principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    height: 100%;
    font-size: 22px;

    p {
        margin: 10px 0px 0px 10px;
    }
}

.base_botoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 90%;
    border: 2px solid rgba(0, 0, 0, 0.267);
}

.botoes_exercicios {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 10px;
    height: 160px;
    text-align: center;
}

.botoes_exercicios a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 35px;
    border: 2px solid rgba(0, 0, 0, 0.26);
    border-radius: 12px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}