:root {
    --color-1: #0a0a0a;
    --color-2: #141414;
    --color-3: #292929;
    --color-4: #333333;
    --color-5: #888888;
    --color-text: #0cff55;
}

.conteudo_principal {
    background-color: var(--color-5);
}